Checks: 'bugprone-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,google-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-bugprone-easily-swappable-parameters,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-*,-hicpp-signed-bitwise,-hicpp-special-member-functions,-google-build-using-namespace,-modernize-avoid-bind,-modernize-use-trailing-return-type,-google-readability-braces-around-statements,-hicpp-braces-around-statements,-readability-braces-around-statements,-modernize-use-nodiscard'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: readability-function-cognitive-complexity.Threshold
    value: 100
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 1
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 1
